:root {
  --brandColor: #2196f3;
  --primary: #00bc8e;
  --secondary: #dc3545;
  --black: #262626;
  --gray: #6c757d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:hover {
  color: inherit;
}

body {
  background: #f3f3f3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

h3 {
  font-size: 26px;
  color: var(--brandColor);
  font-weight: 600;
  text-align: center;
  margin: 25px 0px;
}

th {
  overflow: hidden;
}

ul {
  overflow: hidden;
  padding: 0px 10px;
}

ul:nth-of-type(2) {
  border-left: 1px solid rgb(224, 224, 224);
}

li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  list-style: none;
  padding-left: 5px;
}

thead tr {
  border-bottom: none !important;
}

thead {
  border-bottom: none !important;
}

.table thead th {
  border: none !important;
}

.input input[type='text'],
.person-flex input[type='text'],
input[type='password'],
input[type='email'],
select {
  color: var(--gray);
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
  line-height: 1.2;
  transition: all 0.15s;
}

input[type='checkbox'] {
  cursor: pointer;
  margin-right: 10px;
}

select {
  background: #fff;
}

.input input[type='text']:focus,
.person-flex input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
textarea:focus,
select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

textarea {
  color: var(--gray);
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  transition: all 0.15s;
}

.leftcol .inputdetail label {
  width: 100px;
}

/*
label {
  text-align: right;
  color: var(--black);
  width: 200px;
  padding-right: 15px;
  margin: 0px;
}
*/

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.popheader {
  cursor: default;
  border-bottom: 1px solid #ccc;
  padding: 24px 24px 10px !important;
}

.mobtable {
  display: none;
}

.tableDetail {
  display: flex;
}

.name-mob {
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  margin: 10px 0px;
  color: var(--black);
  border-bottom: 1px solid rgb(224, 224, 224);
}

.data-mob {
  padding: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.data-mob:hover {
  text-decoration: underline;
}

.logo-link,
.logo-link:hover,
.logo-link:active,
.logo-link:visited,
.logo-link:focus {
  color: #fff;
  text-decoration: none;
}

.logo-name {
  font-size: 20px;
  margin: 0px;
  align-self: center;
  cursor: pointer;
}

.page {
  background-color: #fff;
  margin: 40px auto 0px;
  padding: 0px 10px;
  max-width: 722px;
  min-height: calc(100vh - 88px);
  border: 1px solid #ddd;
  border-radius: 3px 3px 0px 0px;
}

.headingTop {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.headingTop h3 {
  width: 64%;
}
.headingTop a span {
  text-transform: capitalize !important;
}

.page h3,
.page a {
  margin: 20px 0px 0px 0px;
}

.section-sides {
  display: flex;
  margin-top: 20px;
}

.section-sides > div {
  width: 100%;
}

.timeline-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.date-header > p {
  display: inline;
  margin-right: 5px;
  font-size: 20px;
  color: var(--gray);
}

.date-header p:nth-child(1) {
  font-weight: 700;
  color: var(--black);
}

.cdateBtn > button {
  background-color: #aaa !important;
}
.dateBtn > button > div > div > span {
  text-transform: capitalize !important;
}
.cdateBtn > button > div > div > span {
  text-transform: capitalize !important;
}
.dateBtn {
  width: 100px;
}

.cdateBtn {
  width: 100px;
}

.date-section {
  display: flex;
  flex-direction: row-reverse;
}

.date-section > div:nth-child(1) {
  align-self: center;
}

.total-time {
  line-height: 36px;
  font-size: 18px;
}

.button {
  margin: 5px;
}

.toolbar {
  background-color: var(--brandColor) !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  height: 48px !important;
}

.menu-bar {
  display: none;
}
.avatar {
  padding: 4px 8px;
}
.avatar img {
  background-color: inherit !important;
}

.nav-left,
.nav-right {
  display: flex;
}

.tabs {
  width: 300px;
}

.tab {
  background-color: var(--brandColor) !important;
  color: #fff !important;
  text-transform: capitalize !important;
  font-size: 18px !important;
}

.valid-green {
  color: var(--primary);
  align-self: center;
}

.InputValidationError {
  color: var(--secondary);
  font-size: 12px;
}

.inputdetail {
  display: flex;
  padding: 10px 0px;
}

.mainform > div:nth-of-type(1) > div:nth-of-type(2) {
  max-height: 167px !important;
}

.close {
  opacity: 1;
  float: right;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.4;
  color: #fff;
  position: absolute;
  top: -40px;
  right: 0px;
  text-shadow: 0 1px 0 var(--black);
}

.close:hover {
  opacity: 0.5;
}

.formwrapper button > div > div span {
  font-size: 17px !important;
}

.input {
  width: calc(100% - 100px);
}

.formwrapper label {
  width: 100px;
}

.leftcol,
.rightcol {
  width: 50%;
}

.leftcol {
  padding-right: 15px;
}

.rightcol {
  overflow-y: auto;
  padding-left: 15px;
}

.rightcol > p {
  margin: 0px;
  padding: 0px 5px;
  color: var(--black);
}

.person-flex {
  display: flex;
  justify-content: space-between;
  margin: 3px 0px;
  padding: 0px 5px;
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.person-flex input {
  border: none !important;
  box-shadow: none !important;
}

.personlist {
  border: 1px solid transparent;
  color: var(--black);
  border-radius: 4px;
}

.person-flex span {
  align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-person,
.remove-person {
  margin-left: 5px;
  cursor: pointer;
  height: 33px;
  line-height: 48px;
}

.form {
  display: flex;
  max-height: 215px;
  padding-top: 15px;
}

.homePage {
  height: 100vh;
  background: #f1f1f1;
}

.indexform {
  margin: 50px auto;
  perspective: 500;
}

.formwrapper {
  position: relative;
  width: 400px;
  margin: 0 auto;
}

.formHeader {
  padding: 15px 10px;
}

.formBody {
  padding: 10px;
}

.checkboxWrap {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.login,
.regiter,
.forgot,
.reset {
  position: absolute;
  background: #fff;
  padding: 15px;
  border-radius: 3px;
  backface-visibility: hidden;
  width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.regiter,
.forgot {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login,
.reset {
  opacity: 1;
  animation-name: fadeInOpacity2;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login h3,
.regiter h3,
.forgot h3,
.reset h3 {
  margin: 0px;
}

@media all and (max-width: 700px) {
  .form {
    display: block;
    height: auto;
  }
  .leftcol,
  .rightcol {
    width: 100%;
    padding: 0px;
  }
  .rightcol {
    height: 165px;
    margin-top: 15px;
  }
  .inputdetail {
    text-align: left;
    display: block;
  }
  .formwrapper .input,
  .input {
    width: 100%;
  }
  .mobtable {
    display: block;
  }
  .table {
    display: none;
  }
  .menu-bar {
    display: block;
  }
  .menu-tab {
    display: none;
  }
  .formwrapper {
    width: 100%;
  }
  .login,
  .regiter,
  .forgot,
  .reset {
    width: 100%;
  }
  label {
    text-align: left;
  }
  .date-section {
    flex-direction: column-reverse;
  }
  .timeline-top {
    justify-content: space-around;
    margin: 0px 5px;
  }
  .headingTop {
    justify-content: center;
  }
  .homebtns > div {
    font-size: 12px;
  }
}

.fullLoading {
  height: 100vh;
  width: 100%;
}

.teamlist {
  color: var(--black);
  margin: 0px;
  padding: 0px;
}

.noProject {
  text-align: center;
  font-weight: bold;
}
